.calendar-link {
  display: inline-block;
  vertical-align: top;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #001a58;
  text-decoration: none;

  @include breakpoint-mobile {
    font-size: 10px;
    line-height: 14px;
  }

  &:hover,
  &_active {
    text-decoration: underline;
  }
}
