.calendar-accordion-item {
  position: relative;
  border: solid #98a2b9;
  border-width: 1px 0;

  &:hover {
    z-index: 1;
    border-color: #020202;
  }

  &_active {
    border-color: #98a2b9;
  }

  &_active &__icon-holder {
    transform: rotate(-180deg);
  }

  &__button {
    width: 100%;
    font-family: $font-source-sans-pro;
    text-align: left;
    appearance: none;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-bottom: 0;
    cursor: pointer;

    &_disabled {
      cursor: default;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    padding-left: 0;

    @include breakpoint-mobile {
      padding: 16px 0;
    }
  }

  &__header-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #001a58;
    padding: 0 15px 0 0;

    @include breakpoint-mobile {
      font-size: 16px;
      line-height: 20px;
      padding: 0 10px 0 0;
    }
  }

  &__icon-holder {
    flex-shrink: 0;
    max-width: 25px;
    transition: transform 0.3s $ease-out;

    @include breakpoint-mobile {
      max-width: 14px;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #001a58;
    padding: 0 30px 20px 0;

    @include breakpoint-mobile {
      font-size: 16px;
      line-height: 20px;
      padding: 0 25px 16px 0;
    }
  }
}
