.calendar-month {
  position: relative;
  max-width: 888px;
  width: 100%;
  min-height: 108px;
  background: #f3f3f3;
  padding: 20px 42px 20px 116px;
  border-radius: 17px;
  margin: 0 auto 36px 0;

  &:nth-child(odd) {
    margin: 0 0 36px auto;
  }

  &__main-icon-holder {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 54px;
    max-width: 54px;
  }

  &__name {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #001a58;
    text-align: center;
    margin-top: -5px;
  }

  &__footer {
    position: relative;
    padding: 0 80px 0 0;
    margin: 32px 0 0;
  }

  &__footer-label {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #001a58;
  }

  &__footer-links-list {
    padding: 8px 0 0;
    overflow: hidden;
  }

  &__footer-link-item {
    float: left;
    display: flex;
    width: 100%;
    max-width: 50%;
    padding: 0 10px 0 0;

    &:nth-child(even) {
      float: right;
      padding: 0 0 0 10px;
    }
  }

  &__footer-link-icon-holder {
    display: inline-block;
    vertical-align: baseline;
    max-width: 12px;
    margin-left: 10px;
  }

  &__footer-icon-holder {
    position: absolute;
    top: -10px;
    right: 0;
    max-width: 60px;
  }

  &__inactive-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    color: #001a58;
    padding: 20px 42px 20px 144px;
  }

  &__custom-image-holder {
    position: absolute;
    right: 40px;
    bottom: 0;
  }
}
