.calendar-link {
  display: inline-block;
  vertical-align: top;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #001a58;
  text-decoration: none;

  &:hover,
  &_active {
    text-decoration: underline;
  }

  &__word {
    display: inline-block;
    vertical-align: top;
    padding-right: 4px;

    &:last-child {
      padding-right: 0;
    }
  }
}
