.header-menu {
  display: flex;
  align-items: baseline;
  align-self: flex-end;
  font-size: 23px;
  line-height: 27px;

  @include breakpoint-tablet {
    display: none;
  }

  @include breakpoint-mobile {
    display: none;
  }

  &__link {
    font-family: $font-futura;

    color: #444;
    text-decoration: none;
    padding: 20px 0;
    margin-left: 30px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;

    &.active,
    &:hover {
      border-color: #25918f;
    }
  }
}
